# Ignore the virtual environment
satintel/

# Ignore Python's cache files
__pycache__/

# Ignore temporary user uploads
uploads/*


!uploads/.gitkeep


# Ignore the contents of the static folder...
static/*

# ...but DO track the .gitkeep file.
!static/.gitkeep